﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AdminApplication.Models.Order
<div class="container">
    <div>
        <p>Order for @Model.Owner.FirstName @Model.Owner.LastName</p>
    </div>

    @for(int i=0;i<Model.ProductInOrders?.Count(); i++)
    {
        var item = Model.ProductInOrders?.ElementAt(i).OrderedProduct;
        if(i % 3 == 0)
        {
            @:<div class="row">
        }
        <div class="col-3 m-4">

            <div class="card" style="width: 18rem; height: 35rem">
                <div class="card-body">
                    <h5 class="card-title">Ticket for Concert: @item.ConcertId</h5>
                    <p class="card-text">@item.Rating</p>
                    <h6>Price: @item.Price</h6>
                </div>

            </div>
        </div>

        if(i % 3 == 2)
        {
            @:</div>
        }
    }
</div>